config BOARD_HEADER_FILE
	string "HTC board specific header file name"
	default ""

config MACH_MONARUDO
	depends on ARCH_APQ8064
	select MACH_HTC
	bool "HTC Droid DNA"
	help
	  Support for the HTC Droid DNA device.
